# ----------------------
# Flask
# ----------------------
flask
flask-script
mongoengine==0.10.6
flask-mongoengine
flask-cors
Werkzeug
# ----------------------
# Testing
# ----------------------
mock


# ----------------------
# Production Server
# ----------------------
gevent
gunicorn
